In [7]:
import pandas as pd

In [8]:
#import csv with relevent utf-8
csv = "../Oscars-demographics-DFE.csv"
oscars_df = pd.read_csv(csv, encoding = 'latin1' )
oscars_df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/2015 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454440,False,finalized,3,2/10/2015 2:04,"Rorschach, Switzerland",1.0,23-Jul-1884,1.0,White,...,Best Actor,http://www.nndb.com/people/738/000063549/,NaN,NaN,The Last Command,Emil Jannings,NaN,NaN,NaN,NaN
2,670454604,False,finalized,3,2/10/2015 1:57,"Philadelphia, Pa",1.0,6-Oct-06,1.0,White,...,Best Actress,http://www.nndb.com/people/129/000043000/,NaN,NaN,7th Heaven,Janet Gaynor,NaN,NaN,NaN,NaN
3,670454354,False,finalized,3,2/10/2015 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
4,670454441,False,finalized,3,2/10/2015 1:58,"Columbus, Oh",1.0,29-Mar-1889,1.0,White,...,Best Actor,http://www.nndb.com/people/739/000063550/,NaN,NaN,In Old Arizona,Warner Baxter,NaN,NaN,NaN,NaN

In [9]:
#create a new dataframe that shows only the needed information
oscars_df1 = oscars_df[['person', 'award','movie','year_of_award']]
oscars_df1.head()

            person          award                movie  year_of_award
0  Lewis Milestone  Best Director  Two Arabian Knights           1927
1    Emil Jannings     Best Actor     The Last Command           1929
2     Janet Gaynor   Best Actress           7th Heaven           1929
3      Frank Lloyd  Best Director      The Divine Lady           1930
4    Warner Baxter     Best Actor       In Old Arizona           1930

In [18]:
#create new data frames categorized my award
director_df = oscars_df1[oscars_df1.award == 'Best Director']
actor_df = oscars_df1[oscars_df1.award == 'Best Actor']
actress_df = oscars_df1[oscars_df1.award == 'Best Actress']
supporting_actor_df = oscars_df1[oscars_df1.award == 'Best Supporting Actor']
supporting_actress_df = oscars_df1[oscars_df1.award == 'Best Supporting Actress']

In [25]:
director_df = director_df.drop_duplicates()
actor_df = director_df.drop_duplicates()
actress_df = director_df.drop_duplicates()
supporting_actor_df = director_df.drop_duplicates()
supporting_actress_df = director_df.drop_duplicates()

In [26]:
#export to csv's
oscars_df1.to_csv('clean_oscars.csv',header=True,index=True, encoding= 'latin1')
director_df.to_csv('director_oscars.csv',header=True,index=True, encoding= 'latin1')
actor_df.to_csv('actor_oscars.csv',header=True,index=True, encoding= 'latin1')
actress_df.to_csv('actress_oscars.csv',header=True,index=True, encoding= 'latin1')
supporting_actor_df.to_csv('supporting_actor_oscars.csv',header=True,index=True, encoding= 'latin1')
supporting_actress_df.to_csv('supporting_actress_oscars.csv',header=True,index=True, encoding= 'latin1')